{% extends 'CIResults/knownfailure_list.html' %}
{% load helpers %}

{% block title %}Component {{component}}'s history{% endblock %}

{% block information %}
<div class="panel panel-default panel-info" >
    <div class="panel-heading">Details about the component {{component}}</div>
    <div class="panel-body">
        <table class="table table-striped table-hover table-bordered table-sm sortable">
            <thead>
                <tr><th>Key</th><th>Value</th></tr>
            </thead>
            <tbody>
                <tr><td>Description</td><td>{{component.description }}</td></tr>
                <tr><td>Is Public?</td><td>{{component.public}}</td></tr>
                <tr><td>Project URL</td><td><a href='{{component.url}}'>{{component.url}}</a></td></tr>
            </tbody>
        </table>
    </div>
</div>

<h2>Associated failures</h2>
{% endblock %}
