{% extends 'CIResults/base.html' %}

{% block title %}Passrate per runconfig{% endblock %}

{% block content %}
    {% include "CIResults/basic/user_filtering_searchbox.html" with filters_model=history.filtering_model query=history.query %}

    <div class="panel panel-default panel-info">
        <div class="panel-heading">
            Passrate trend
        </div>
        <div class="panel-body">
            <canvas id="PassrateChart" data-chart-type="trend_chart" data-chart-unit="%" data-chart-data="{{history.chart.stats}}" height="450"></canvas>
        </div>
    </div>

    <div class="panel panel-default panel-info">
        <div class="panel-heading">
            <a data-toggle="collapse" href="#tabular_view" class="text-info">
                Tabular view of the passrate ({{history.runconfigs|length}} runconfigs, {{history.statuses|length}} statuses) - Discarded test execution rate: {{history.discarded_rate}}
            </a><a class="btn btn-default btn-xs pull-right" href='data:application/csv,{{history.to_csv|iriencode}}' download='passrate.csv' title="Download as CSV"><span class="glyphicon glyphicon-download-alt"/> CSV</a>
        </div>
        <div id="tabular_view" class="panel-body panel-collapse collapse">
            <!-- TODO: Add a chart with all the statuses over time -->
            <table class="table table-striped table-hover table-bordered table-sm sortable">
                <thead>
                <tr>
                    <th>Run Config</th>
                    {% for status in history.statuses %}
                        <th>{{status}}</th>
                    {% endfor %}
                </tr>
                </thead>
                <tbody>
                    {% for runconfig, statuses in history.runconfigs.items %}
                        <tr>
                            <td data-sorttable-customkey="{{runconfig.added_on|date:'U'}}">
                                {% include "CIResults/basic/runconfig_lite.html" with runconfig=runconfig %}
                            </td>
                            {% for status, passrate in statuses.items %}
                            <td data-sorttable-customkey="{{passrate.percent}}"> {{passrate}}</td>
                            {% endfor %}
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

    <div class="panel panel-default panel-warning">
        <div class="panel-heading">
            <a data-toggle="collapse" href="#most-hit-issues" class="text-warning">
                {{history.most_hit_issues|length}} issue(s) hit during test executions
            </a>
        </div>
        <div id="most-hit-issues" class="panel-body panel-collapse collapse">
            {% include "CIResults/basic/issue_list.html" with issues=history.most_hit_issues name="most-hit-issues" %}
        </div>
    </div>
    {% include "CIResults/basic/metrics_deps.html" %}
{% endblock %}
