{% extends 'CIResults/base.html' %}

{% block title %}Open Bugs{% endblock %}

{% block content %}
    {% load humanize %}
    {% include "CIResults/basic/user_filtering_searchbox.html" %}

    <div class="form-inline column-selector" data-table-class='open-bugs' data-table-downloadable-as='open_bugs.csv'></div>

    <div class="panel panel-default panel-danger">
        {% include "CIResults/basic/open_bugs_table.html" with bugs=bugs_overdue table_title="Overdue Bugs" table_id="bugs_overdue" %}
    </div>

    <div class="panel panel-default panel-warning">
        {% include "CIResults/basic/open_bugs_table.html" with bugs=bugs_close_to_deadline table_title="Deadlining Bugs" table_id="bugs_close_to_deadline" %}
    </div>

    <div class="panel panel-default">
        {% include "CIResults/basic/open_bugs_table.html" with bugs=bugs_other table_title="Upcoming Bugs" table_id="bugs_other" %}
    </div>
{% endblock %}
